<div>
    <header>
        <form>
            <input type="text" class="search" placeholder="what are you looking for?"><button type="submit">Search</button>
        </form>
    </header>
    <section>
        <div class="movie">
            <img class="image-dimension" src="https://image.tmdb.org/t/p/w500/p1F51Lvj3sMopG948F5HsBbl43C.jpg" alt="image">
            <div class="movie-info">
                <h3>Movie Title</h3>
                <span class="green">9.8</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                This movie is awesome.
            </div>
        </div>
        <div class="movie">
            <img class="image-dimension" src="https://image.tmdb.org/t/p/w500/p1F51Lvj3sMopG948F5HsBbl43C.jpg" alt="image">
            <div class="movie-info">
                <h3>Movie Title</h3>
                <span class="green">9.8</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                This movie is awesome.
            </div>
        </div>
        <div class="movie">
            <img class="image-dimension" src="https://image.tmdb.org/t/p/w500/p1F51Lvj3sMopG948F5HsBbl43C.jpg" alt="image">
            <div class="movie-info">
                <h3>Movie Title</h3>
                <span class="green">9.8</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                This movie is awesome.
            </div>
        </div>
        <div class="movie">
            <img class="image-dimension" src="https://image.tmdb.org/t/p/w500/p1F51Lvj3sMopG948F5HsBbl43C.jpg" alt="image">
            <div class="movie-info">
                <h3>Movie Title</h3>
                <span class="green">9.8</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                This movie is awesome.
            </div>
        </div>
    </section>
</div>
