<div class="bg-color">
    
    <div class="center"> 

<form id="login" [formGroup]="signUpForm" (ngSubmit)="onSubmit()" > 
    <h2>{{title}}</h2> 
    <hr>
   <div class="txt_field">
    
    <input 
    type="txt" 
    class="form-control"
    formControlName="username"
    
    >  
    <label><b>Email    
    </b>    
    </label>
   </div>  
   <span class="login-validation" *ngIf="signUpForm.get('username').invalid && submitClicked">Email is required</span>  
   <div class="txt_field">
    <input 
    type="Password" 
    class="form-control"
    formControlName="password"
    >    
    
    <label><b>Password     
    </b>    
    </label>
   </div> 
   <span class="login-validation" *ngIf="signUpForm.get('password').invalid && submitClicked">Password is required</span>   
   <div class="submit-button"><input type="submit" name="log" id="log" value="REGISTER"></div>     
    <br><br> 
    <div class="signup_link"><p [ngStyle]="successfulRegistration ? {color : 'blue'} : {color : 'red'}">{{message}}</p> <a (click)="onLogIn()">Login</a> here.</div>    
</form> 
</div>
</div>
